@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Josefin+Sans:wght@100;300;400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', Georgia, sans-serif;
  }

* {
  box-sizing: border-box;
  text-decoration: none;
  
}

:root {
  --sun: #fadf63ff;
  --carib: #12343b;
  --cyan: #368f8bff;
  --cel: #c4fff9ff;
  --sand: #e6af2eff;
}



.logo-container {
  /* max-height:80px; */
  padding-top: 100px 15px;
  background-color: var(--cyan);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  height: 45px;
 }

.logo-container img, h1 {
  font-family: Condiment, cursive;
  color: var(--carib);
  padding-right: 10px;
  background-color: red;
}

.logo-container span {
  color: var(--);
  font-size: 15px;
}

.navindex {
   
}

.navindex ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

li {
  
  list-style-type: none;
  padding: 1em;
  background-color: white;
  
}

li a {
  color: var(--carib);
  font-weight: bold; 
}


/* INDEX */


main.index {
  margin: 0 10vw;
}

.index p {
  margin: 15px 5vw;
}

.intro {
  margin-top:15px;
  max-height: 80vh; /* change this for different screen sizes later*/
  display: flex;
  justify-content: center;
  position: relative;
  
}

.intro p {
  color: white;
  position: absolute;
  top: 20%;
  left: 10%;
}


.intro img {
  opacity: 1;
  width: 10%;
  /* animation-name: appear;
  animation-fill-mode: forwards;
  animation-duration: 3s; */
  
}

.intro img:nth-child(1) {
  animation-delay: 3s;
}
.intro img:nth-child(2) {
  animation-delay: 4s;
}
.intro img:nth-child(3) {
  animation-delay: 5s;
}
.intro img:nth-child(4) {
  animation-delay: 6s;
}
.intro img:nth-child(5) {
  animation-delay: 7s;
}
.intro img:nth-child(6) {
  animation-delay: 8s;
}
.intro img:nth-child(7) {
  animation-delay: 9s;
}
.intro img:nth-child(8) {
  animation-delay: 10s;
}
.intro img:nth-child(9) {
  animation-delay: 11s;
}
.intro img:nth-child(10) {
  animation-delay: 12s;
}






footer {
  background-color: var(--cyan);
  padding: 5px;
  text-align: center;
  text-decoration: none;
}




/*GALLERY*/

main.gallery {
  margin: 4% 10% 10% 10%;
  padding: 5px;
}

/* .gallery div {
  margin: 
} */


.bigpic {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--carib);
  color: var(--sun);
  border-radius: 5px;
  
}

.bigpic p{
  font-size: xxx-large;



}

.bigpic img{
  max-width: 60%;
 }

.img-container {
  display: flex;
  max-height: 150px;
  background-color: grey;
  margin-bottom: 10%;

  
}

.img-container>img {
  width: 20%;
  height: auto;
  opacity: 0.5;

}

.img-container>img:hover {
  opacity: 1;
}

.video-container {
  display: flex;
  margin-top: 5%;
  
}

#vidtext {
  padding: 3%;

}

/* TEST FOR MAIN IMAGE */


@keyframes appear{
  0% {opacity:0;}
  100% {opacity:1;}
}



/* CONTACT */

.contact-container {
  display: flex;
  margin: 4% 10% 10% 10%;
  border: 2px solid var(--cel);
  border-radius: 5px; 
  flex-wrap: wrap;
}

.contactUs {
  padding: 10% 10%;
  background-color: var(--cel);
  flex: 1;
  text-align: center;  
}

form {
  padding: 10%;
  flex: 3;
 
}

form >*>* {
  margin: 5px 0 0 0;
  padding: 4px;
}

.form-container {
  display: flex;
  flex-direction: column;  
}

label, textarea {
  display: block;
}

.oneLine>label{
  display: inline;
 }

input[type=submit] {
  padding: 5%;
  width: 100%;
  background-color: var(--cyan);
  border: none;
  border-radius: 5px;
  box-shadow: 6px 6px 10px grey;
  color: white;

}

input[type=text],[type=number], textarea {
  border: 2px solid var(--cyan);
  border-radius: 5px;
  box-shadow: 4px 4px 10px grey;
  padding: 5px;
  
}

textarea {
  resize: vertical;
  max-height: 300px;
}



/*BIOGRAPHY*/

.bio-container {
  display: flex;
  margin: 5%;
  justify-content: space-around;
  flex-wrap: wrap;
}

section {
  margin: 1%;
  padding: 3% 2%;
  text-align: center;
  flex: 1;
  max-width: 40%;
  border: 2px solid var(--sun);
  box-shadow: 5px 5px 10px;
  border-radius: 5px; 
}

section img {
  border-radius: 50px;
  max-width: 100px;
}

section:hover {
  flex: 1.5;
  border: 5px double var(--sun);
}



